@import 'devices';

    $MarckFont: "../fonts/MarckScript";
    
    @font-face {
        font-family: 'Marck Script';
        font-style: normal;
        font-weight: 400;
        src:url('../fonts/MarckScript-Regular.ttf'), format('ttf');
    }
    
    
    $primary-color: #00293b;
    $secondry-color: #ffa200e8;
    $headrer-height: 80px;
    $search-bar-width: 400px;
    $boxs-shadow: 1px 1px 4px #0003;
    $global-border-radius: 15px;
    $font-families:();
    $light-font-color: #fff;
    $dark-font-color: #000;
    $font-sizes: (
        "regular": 1rem,
        "medium": 1.5rem,
        "bold": 2rem,
        "heading": 3rem,
        "largest": 5rem,
        "buttons-font": .7rem
    );

    @mixin flexCenter($direction){
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: $direction;
    }

    @function chooseFontSize($font-size){
        @return  map-get($map: $font-sizes, $key: $font-size);
    }



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#header{
    width: 100%;
    height: $headrer-height;
    background-color: $primary-color;
    @include flexCenter(row);
    justify-content: space-between;
    padding: 5px 30px;
    @include divice(599px){
        flex-flow: column;
        height: 100px;
        padding: 5px 15px;
    }
    @include divice(600px){
        flex-flow: column;
        height: 100px;
        padding: 5px 15px;
    }

    @include divice(900px){
        flex-flow: row;
    }

    #logo{
        color: $light-font-color;
        font-size: chooseFontSize('bold');
        font-family: 'Marck Script', cursive;  
        @include flexCenter('row');
        @include divice(599px){
            font-size: 1rem;
        };

        #logo-icon{
            width: 50px;
        }
      }

     

    #search-container{
        position: relative;
        width: fit-content;
        height: 100%;
        @include flexCenter(row);
        justify-content: flex-start;
        @include divice(599px){
            justify-content: center;
            height: 40px;
            width: 100%;
        }

        #search-bar{
            width: $search-bar-width;
            height: 40px;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            outline: none;
            border: none;
            padding: 10px 30px;
            @include divice(599px){
                width: 80%;
            }
        }

        #search-btn{
            width: 80px;
            height: 40px;
            background-color: $secondry-color;
            border-bottom-right-radius: 30px;
            border-top-right-radius: 30px;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }

    #cel-fehr-btn{
        position: relative;
        width: 100px;
        height: 35px;
        border-radius: 30px;
        font-size: chooseFontSize(medium);
        @include flexCenter(row);
        justify-content: space-around;
        background-color: #fff;
        overflow: hidden;
        perspective: 300px;
        @include divice(599px){
            position: fixed;
            right: 10px;
            bottom: 10px;
            height: 90px;
            width: 40px;
            box-shadow: 1px 1px 10px $secondry-color;
            flex-flow: column;
            z-index: 3;
        }

        @include divice(600px){
            position: fixed;
            right: 15px;
            bottom: 15px;
            height: 100px;
            width: 45px;
            box-shadow: 1px 1px 10px $secondry-color;
            flex-flow: column;
            z-index: 3;
        }

        @include divice(900px){
            position:relative;
            right: 0;
            bottom: 0;
            height: 35px;
            width: 100px;
            box-shadow: none;
            flex-flow: row;
        }

        button{
            padding: 3px;
            font-size: 1.3rem;
            width: 50%;
            height: 100%;
            @include flexCenter(row);
            border: none;
            background-color: #fff;
            @include divice(599px){
                width: 100%;
            };
         }

         button:hover{
            background-color: $secondry-color;
            transform: translate3d(0, 0px, 10px);
            cursor: pointer;
            font-size: 1.8rem;
        }

         .active{
            background-color: $secondry-color;
         }
    }
}



#main{
    width: 100%;
}

#section-one{
    @include flexCenter(row);
    justify-content: space-around;
    width: 100%;
    height: 350px;
    padding: 20px 40px;
    @include divice(599px){
        flex-flow: column;
        height: fit-content;
        padding: 10px 10px;
    }

    @include divice(600px){
        padding: 10px 5px;
    }

    @include divice(900px){
        padding: 20px 40px;
    }
}

#section-one{
    #location-brief{
        height: 100%;
        width: 25%;
        border-radius: $global-border-radius;
        @include flexCenter(column);
        justify-content: flex-start;
        padding: 10px;
        @include divice(599px){
            width: 95%;
        }
        @include divice(600px){
            width: 30%;
            padding:  0;
            justify-content: center;
        }

        #country-name{
            font-size: chooseFontSize("heading");
        }

        #current-date{
            font-size: chooseFontSize("regular");
            margin-bottom: 20px;
        }

        #weather-brief{
            @include flexCenter(row);
            margin-bottom: 20px;

            #weather-icon{
                height: 100px;
                margin-right: 10px;
            }
            #temp{
                font-size: chooseFontSize("heading");
            }
        }

        #high-low-temp{
            @include flexCenter(row);
            text-transform: capitalize;
            color: $primary-color;
            
            #high{
                margin-right: 30px;
                #high-temp{
                    color: $secondry-color;
            font-size: 1.3rem;
                }
            }

            #low{
                #low-temp{
                    color: $secondry-color;
            font-size: 1.3rem;
                }
            }
            
        }
    }

    #today-info{
        height: 100%;
        width: 60%;
        padding: 10px 30px;
        background-color: #e1f5fec2;
        box-shadow: $boxs-shadow;
        border-radius: $global-border-radius;
        @include flexCenter(row wrap);

        @include divice(599px){
            padding: 10px 10px;
            width: 97%;
        }


        @include divice(600px){
            padding: 10px 10px;
        }

        .info-box{
            width: calc(100% / 3);
            height: 75px;
            @include flexCenter(column);
            .info-title{
                font-size: 11px;
                color: adjust-hue($color: #000b, $degrees: 0);
                @include divice(599px){
                    margin-bottom: 5px;
                }
            }

            .data{
                font-size: chooseFontSize("medium");
                color: $dark-font-color;
                @include divice(599px){
                    font-size: chooseFontSize('regular');
                }
            }
        }
    }
}


#section-two{
    width: 100%;
    border-top: 3px solid $primary-color;
    border-bottom: 3px solid $primary-color;
    @include flexCenter(column);
    padding: 30px 10px;

    h1{
        color: $primary-color;
        font-size: chooseFontSize("bold");
        text-transform: uppercase;
        @include divice(599px){
            font-size: 1.4rem;
        }
    }

#section-two-content{
    width: 100%;
    height: 400px;
    padding: 20px 30px;
    @include divice(599px){
        padding: 0 0;
    }

    @include divice(900px){
        padding: 20px 30px
    }

    @include flexCenter(row);

    perspective: 200px;

    #right-arrow, #left-arrow{
        width: 50px;
        height: 50px;
        rotate: (45deg);
        border-left: 5px solid #00293b;
        border-bottom: 5px solid #00293b;
        cursor: pointer;
        @include divice(599px){
            display: none;
        }  
        
        @include divice(600px){
            display: none;
        }    

        @include divice(900px){
            display: block;
        }    

        &:hover{
            transform: translate3d(0, 0, 5px);
        }
    }

    #hours-container{
        width: 75%;
        @include divice(599px){
        width: 100%;
        }

        @include divice(900px){
            width: 80%;
        }
        height: 90%;
        padding: 20px;
        border-top: 3px solid $primary-color;
        border-bottom: 3px solid $primary-color;
        border-radius: $global-border-radius;
        // background-color: $secondry-color;
        @include flexCenter(row);
        justify-content: flex-start;
        overflow-x: auto;
        cursor:grab;
        .hour-info{
            min-width: 170px;
            height: 80%;
            padding: 10px 15px;
            margin: 10px 10px;
            background-color: #fff;
            box-shadow: $boxs-shadow, -1px -1px 4px #0003;
            border-radius: $global-border-radius;
            @include flexCenter(column);
        }
    }

    #right-arrow{
        rotate: (225deg);
    }
}
}
#hours-container::-webkit-scrollbar {
    height: 4px;
    height: 15px;
    padding-right: 10px;
}

#hours-container::-webkit-scrollbar-track {
    -webkit-box-shadow:none; 
    border-radius: 2px;
}

#hours-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: none; 
    background-color: $secondry-color;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}


#section-three{
    width: 100%;
    background-color: $primary-color;
    @include flexCenter(column);
    padding: 60px 10px;

    h1{
        font-size: chooseFontSize('bold');
        margin-bottom: 20px;
        color: $light-font-color;
        text-transform: uppercase;
        @include divice(599px){
            font-size: 1.4rem;
        }
    }

  
    #schedual-content, .day-card{
        width: 65%;
        @include divice(599px){
            width: 97%;
        }

        @include divice(600px){
            width: 90%;
        }

        @include divice(900px){
            width: 65%;
        }
    
        height: 70px;
        margin-bottom: 10px;
        background-color: #fff;
        border-radius: $global-border-radius;
        @include flexCenter(row);
    }

    #schedual-content{
        height: 40px;
        background-color: $secondry-color;
        color: $light-font-color;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        text-transform: uppercase;
        .data-name{
            width: calc(100%/4);
            @include flexCenter(row)
        }
        @include divice(599px){
            text-transform: capitalize;
            font-size: .8rem;
        }
    }

    .day-card{
        .day-card-child{
            width: calc(100%/4);
            padding-left: 10px;
            @include flexCenter(row);
            @include divice(599px){
                padding-left: 10px;
            }

            .day-name{
                width: 60%;
                font-size: chooseFontSize('regular');
                text-transform: capitalize;
            }

            img{
                width: 40px;
                height: 40px;
                margin-left: 10px;
                @include divice(599px){
                    margin-left: 0;
                }
            }
        }
    }


}

#footer{
    width: 100%;
    background-color: $primary-color;
    color: $light-font-color;
    @include flexCenter(row);
    padding: 70px 10px 20px 10px;

    a{
        text-decoration: none;
        color: $secondry-color;
        vertical-align: top;
        font-size: chooseFontSize("medium");
        margin: -10px 5px 0 5px;
    }
}

#loadingPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000e6;
    position: fixed;
    top: 0;
    z-index: 5;

    #loading-circle{
        width: 200px;
        height: 200px;
        border: 10px dotted $secondry-color;
        border-right-color: #fff;
        border-radius: 50%;
        animation: orbit 1s linear 0s infinite normal ;
    }
}

@keyframes orbit {
    0%{
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(90deg);
    }

    50%{
        transform: rotate(180deg);
    }

    75%{
        transform: rotate(270deg);
    }  
    
    100%{
        transform: rotate(360deg);
    }
}

#error-container{
    position:absolute;
    top: calc($headrer-height/1.4);
    width:  $search-bar-width;
    padding: 10px;
    @include flexCenter(row);
    background-color: rgb(255, 222, 222);
    color: #f00;
    text-align: center;
    border-radius: 10px;
    @include divice(599px){
        width: 80%;
        bottom:-10px;
        height: fit-content;
    }
}